[Unit]
Description=Embed Bot
After=multi-user.target

[Service]
User=tom
Group=tom
Type=idle
WorkingDirectory=/home/tom/camper_api
ExecStart=/home/tom/camper_api/venv/bin/uvicorn camper_api.main:app --host 0.0.0.0
Restart=on-failure

[Install]
WantedBy=multi-user.target